/* Main style */
* {
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.py40 {
    padding: 40px 0;
}
.header {
    border-bottom: 2px solid black;
}
.fs24 {
    font-size: 24px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
.fs16 {
    font-size: 16px;
}
.fs14 {
    font-size: 14px;
}
.lh1 {
    line-height: 1.25rem;
}
.logo {
    display: none;
}
.logo img {
    max-height: 110px;
}
/* .lh1 {
    display: none;
} */

/* Tabel */
table th, table td{
padding: 5px 5px;
font-size: 16px;
vertical-align: top;
}

/* Font */
@media (min-width: 768px) {
    .logo2 {
        display: none;
    }
    .logo {
        display: block;
    }
    h4 {
        font-size: 24px !important;
    }
    p {
        font-size: 16px !important;
    }
}