/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* Variabel */
:root {
  --biru: #006AC2;
  --biru2: rgb(0, 86, 174);
  --orange: #f19422;
  --orange2: rgb(221, 128, 14);
  --light: #fdfcff;
  --light2: rgb(235, 235, 235);
  --abu: #f6f6f6;
  --abu2: #F8F8FF;
  --merah:#E50000;
  --ungu:#FB05E2;
  --black:#140e10;

  --main-trans: 4s linear

  --blue-shadow: rgba(0, 86, 174, .5) 0px 8px 24px;
  
}
/* End variabel */
/* Main style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
body {
  min-height: 100vh;
}
html {
  height: 100%;
}
h2 {
  font-size: 36px ;

  margin: 0 ;
}
h3 {
  font-size: 24px;
  font-weight: 800 !important;

  margin: 0;
}
h4 {
  font-size: 18px ;

  margin: 0;
}
h5 {
  font-size: 16px;

  margin: 0;
}
a {
  text-decoration: none !important;
  font-size: 14px;
}
p {
  font-size: 14px;
  margin: 0px;
}
/* End main style */

/* Font size */
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px;
}
.fs14i{
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs30 {
  font-size: 30px !important;
}
/* End font size */

/* Line height */
.lh1 {
  line-height: 1.5rem;
}

/* Margin */
.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt60 {
  margin-top: 60px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt30 {
  margin-top: 30px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.m20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.me10 {
  margin-right: 10px;
}
.mt10{
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt5 {
  margin-top: 5px;
}
.m50{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* End margin */

/* Padding */
.px8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt100 {
  padding-top: 100px;
}
.pt40 {
  padding-top: 40px;
}
.pb100 {
  padding-bottom: 100px;
}
.pt60 {
  padding-top: 60px;
}
.pt50 {
  padding-top: 50px;
}
.pb40 {
  padding-bottom: 40px;
}
.p40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.p60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.px50{
  padding-left: 50px;
  padding-right: 50px;
}
.px20{
  padding-left: 20px;
  padding-right: 20px;
}
.p25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/* End padding */

/* Color */
.green{
  color:#0cc23f !important;
}
.red{
  color: #dc3545 !important;
}
.orange{
  color: #F8A61B;
}
.abu{
  color: var(--abu) !important;
}
.biru {
  color: var(--biru) !important;
}
.black {
  color: var(--black);
}
.grey {
  color: rgba(255, 255, 255, .8);
}
.lightgrey {
  color: lightslategray;
}
/* End color */

/* Background color */
.bgblue {
  background-color: var(--biru);
}
.bgorange {
  background-color: var(--orange) !important;
}
.bglight {
  background-color: var(--light);
}
.bgwhite {
  background-color: white;
}
.bggreen {
  background-color: #0cc23f;
}
.bgred {
  background-color: #c20c0c;
}
/* End background color */

/* Button */
.btn__orange {
  border-color: var(--orange2) !important;
  background-color: var(--orange) !important;
}
.btn__blue {
  border-color: var(--blue2) !important;
}
.btn__white:hover {
  background-color: var(--light2) !important;
  color: var(--black);
}
.btn__white:focus {
  color: var(--black);
  box-shadow: 0 0 0 0.25rem rgb(235, 235, 235, .5) !important;
}
.btn__orange:hover {
  background-color: var(--orange2) !important;
  border-color: var(--orange2) !important;
}
.btn__orange:focus {
  box-shadow: 0 0 0 0.25rem rgb(221, 128, 14, .3) !important;
}
.btn__blue:hover {
  background-color: var(--biru2) !important;
  border-color: var(--biru2) !important;
}
.btn__blue:focus {
  box-shadow: 0 0 0 0.25rem rgb(0, 86, 174, .3) !important;
}
/* End button */

/* Etc */
::-webkit-input-placeholder {
  color: lightslategray;
}
.bd50 {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
}
.bdblue {
  border: 1px solid var(--biru);
  border-radius: 25px;
}
.btn:hover{
  transition: 0.3s;
}
.btn,.br5{
  border-radius: 5px !important;
  font-weight: 800;
}
.br10{
  border-radius: 10px !important;
}
.br20{
  border-radius: 20px !important;
}
.br25{
  border-radius: 25px;
}
.bs1{
  box-shadow: 0.2px 0.2px 30px 0.2px var(--biru) ;
}
.bs2{
  box-shadow: 2px 0.2px 10px 2px var(--abu)  ;
  /* border: 0.1px solid var(--biru); */
}
.btn-red{
  background-color: var(--merah) !important;
  color: white;
}
.bg-biru {
  background-color: var(--biru);
  color: white;
}
.bg_ungu{
  background-color: var(--ungu);
  color: white;
}
.btn-primary {
  background-color: var(--biru);
  /* box-shadow: 0.2px 0.2px 4px 0.2px var(--biru); */
}
.btn_orange{
  background-color: #F8A61B;
  color: white;
}
.btn_orange:hover{
  background-color: #F8A61B;
  color: white;
  box-shadow: 2px 2px 10px 2px #F8A61B;
}
.btn-white {
  background-color: white;
  /* font-family: 700; */
  color: var(--biru);
  /* box-shadow: 2px 2px 5px 2px var(--biru); */
  border: 2px solid var(--biru);
}
.btn-white:hover {
  background-color: var(--biru);
  box-shadow: none !important;
  color:white;
}
.bg-abu {
  background-color: var(--abu);
}
.tengah {
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: 700 !important;
}
.dropdown {
  text-decoration: none;
}
.text-red {
  color: #dc3545;
}
.text-abu {
  color: #acacc0;
}
.card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
.main-shadow{
  box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.05);
}
.min-height-admin{
  min-height: 141px;
}
tr {
  border-color: var(--abu2);
}

/* Form */
/* .pendaftaran input {
  bor
} */
/* End form */

/* Unknown */
.topi {
  background-image: url("../img/topi.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.gambarformdaftar {
  background-image: url("../img/image\ 15.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gambar-laporan {
  background-image: url("../img/4025514\ 1.png");
  height: 400px;
}
/* input,
textarea,
select {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 10px !important;
}
label {
  display: block;
  font-size: 16px;
}
small{
  font-size: 12px;
} */
/* .daftarbeasiswa small {
  color: var(--biru);
  display: block;
} */

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto;
}

.fa-eye,.fa-fw{
  color: #9a9a9a;
}
.p100 {
  padding: 40px 10rem;
}
.p40 {
  padding: 40px;
}
.bglight {
  background-color: #E9F0F5;
}
.bglight2 {
  background-color: #f5f4f8;
}


/******************************************/
/*                  USER                  */
/******************************************/

/*================ Template user =================*/
/* Navbar */
#btnCollapse:focus {
  box-shadow: none;
  border: 1px solid white !important;
}
nav {
  box-shadow: none !important;
}
nav .logo h3 {
  display: none;
  font-weight: 400 !important;
}
nav a {
  font-size: 16px !important;
  font-weight: 400 !important;
}
nav .navbar-nav a {
  color: rgba(255, 255, 255, .7);
}
nav .navbar-nav a:hover {
  color: var(--orange);
}
.navbarNav.active {
  color: white;
}
nav .nav-item p {
  color: grey;
}
nav .dropdown-menu button {
  font-weight: 400;
}
nav .dropdown-menu button:hover {
  color: white;
}

/* Hover effect */
nav li a {
  position: relative;
}
nav li a::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: .3s;   
}
nav li a:hover::after {
  width: 100%;
}

/* Footer */
#insta, #facebook, #twitter {
  transition: .5s;
}
.sosmed .icon {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
}
#insta, #web {
  color: black;
}
.icon:hover #web, .icon:hover #insta {
  color: white;
}
.sosmed .icon:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.sosmed a:nth-child(1) .icon:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.sosmed a:nth-child(2) .icon:hover {
  background-color: #4267B2;
}
footer .user a:hover {
  color: white;
}


/*================ Halaman awal =================*/
/* Fix width kanan kiri */
.awal__content > div {
  width: 100%;
}
/* Mobile none */
.awal__gambar > div {
  width: 80%;
}
.awal .awal__gambar {
  display: none !important;
}
/* Gambar login */
.awal__content, .awal__gambar {
  min-height: 100vh;
}
/* Gambar login */
.bglogin {
  background: var(--biru) url("../img/circle-element-hero.svg") no-repeat;
  background-position-x: 15rem;
}

/*================ Login =================*/
.awal__content.login > div, .awal__content.daftar > div {
  width: 100%;
}

/*================ Informasi Awal =================*/
.informasi__awal .bg img {
  max-width: 100%;
  min-height: 300px;
  max-height: 400px;
  background-color: lightgray;
  border-radius: 10px;
  object-fit: contain;
}
.informasi__awal p {
  font-size: 16px;
}
.informasi__awal .info__lainnya {
  border-radius: 10px;
  border-color: var(--biru) !important;
  transition: .4s;
}
.informasi__awal .info__lainnya:hover {
  box-shadow: rgba(0, 86, 174, .2) 0px 8px 24px;
  transition: .4s;
}
.informasi__awal .info__lainnya .tanggal p {
  font-size: 12px;
}

/*================ Masuk =================*/
/* Kata sandi */
.awal .input__sandi span {
  top: 10%;
  right: 5%;
}
.awal .input__sandi i {
  color: var(--black);
}
/* Captcha */
.captcha {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-decoration: line-through;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  border-radius: 10px;
}
.ubah__captcha {
  top: 20%;
  right: 5%;
}
.awal__content .content .ceklis input {
  border-radius: .25em !important;
  padding: 0;
}
.errmsg {
  color: red;
  font-size: 14px;
}

/* Lupa sandi */
.lupa__sandi a {
  font-size: 14px;
}
.pesan__error {
  font-size: 14px;
  color: red;
}

/*================ Index =================*/
/* Carousel */
.carousel-indicators {
  display: none;
}

/* Informasi terbaru */
.blue {
  color: var(--biru);
}
.abu {
  color: lightslategray !important;
}
.info__section .tanggal p {
  color: lightslategray;
}
.info__baru .info__selengkapnya a:hover {
  text-decoration: underline !important;
}
.info__terbaru .line {
  border: 1px solid var(--abu2);
}

/* Kuota */
.pd__80 {
  padding: 60px 0;
}
.deskripsi .keterangan p {
  font-size: 12px !important;
}
.deskripsi a {
  font-size: 12px !important;
}
.card__beasiswa img {
  max-width: 100%;
}

#file-upload-button {
  background-color: white !important;
}

/* Jalur beasiswa */
.beranda .row div:last-child {
  margin-bottom: 0 !important;
}

/*================ Informasi pendaftaran =================*/
/* Garis vertikal */
.vl {
  border-left: 1.5px solid var(--biru);
}
.icon-informasi {
  font-size: 100px;
  color: var(--biru);
}
.informasi__pendaftaran .nomor {
  min-width: 20px;
  min-height: 20px;
  font-size: 12px;
  border-radius: 50%;
  color: white;
  background-color: var(--biru);
}
.me2rem {
  margin-left: 2.1rem;
}
.daftar__beasiswa__section .no {
  min-width: 12px;
}

/* Jadwal kegiatan */
#jadwalPendaftaran {
  border-color: lightgrey !important;
  border-style: solid !important;
  border-width: 1.1px;
}
#jadwalPendaftaran tbody {
  border-top: 1.1px solid lightgray !important;
}
#jadwalPendaftaran tr th:first-child {
  font-weight: 400;
}
/* #jadwalPendaftaran tr {
  border-color: red !important;
} */

/* Jadwal kegiatan */
/* .jadwal__section table {
  width: fit-content !important;
  overflow: auto;
}
.jadwal__section thead, tbody, tr, td, th {
  border-style: solid !important;
  border-width: 1px !important;
  padding: 10px;
  font-size: 14px;
}
.jadwal__section tbody>tr>th {
  text-align: center;
  font-weight: 400 !important;
}
.jadwal__section th {
  text-align: left;
} */

/* Detail informasi */
.detail__header {
  font-size: 24px;
}

/*================ Pendaftaran =================*/
/* Wizard */
#smartwizard a {
  overflow: visible !important;
}
#smartwizard a::before {
  visibility: visible !important;
  transition: none !important;
}

/* Garis none di mobile */
.sw-theme-dots>.nav::before {
  content: none !important;
}

/* Wizard color */
.sw-theme-dots>.nav .nav-link.inactive::after {
  background-color: lightgray !important;
}
.sw-theme-dots>.nav .nav-link.done::after {
  background-color: #5cb85c !important;
}
.sw-theme-dots>.nav .nav-link.inactive {
  color: lightgray !important;
}
.sw-theme-dots>.nav .nav-link.done {
  color: #5cb85c !important;
}
#smartwizard.sw-theme-dots>.nav .nav-link.active {
  color: var(--biru) !important;
}
#smartwizard.sw-theme-dots>.nav .nav-link.active::after {
  background-color: var(--biru) !important;
}

/* Wizard button */
.sw-theme-dots .toolbar>.btn {
  background-color: var(--biru) !important;
  border: 1px solid var(--biru) !important;
  font-size: 16px !important;
  margin-bottom: .5rem;
}
#smartwizard .btn.sw-btn-prev {
  background-color: transparent !important;
  border: 1px solid var(--biru) !important;
  color: var(--black) !important;
}
#smartwizard .btn-simpan{
  background-color: green !important;
}

/* Wizard direction */
#smartwizard.sw>.nav {
  flex-direction: column !important;
}

/* Input pendaftaran */
#smartwizard.sw>.tab-content {
  overflow: visible;
}
/* Tab content */
#smartwizard div {
  height: unset !important;
}
#smartwizard .lampiran-foto-pendaftaran input {
  height: 100% !important;
}
/* Input jenis kelamin */
#smartwizard .form-check, #edit__pendaftaran .form-check {
  display: flex !important;
}
/* Input pertanyaan */
#smartwizard .form-check label, #edit__pendaftaran .form-check label {
  margin-left: 0.5rem !important;
}
/* Input textarea */
#smartwizard .alamat textarea {
  min-height: unset !important;
}
/* Button */
#smartwizard.sw .toolbar {
  padding: 0;
  margin-top: 1rem;
}
/* Icon bintang wajib */
#smartwizard .required-label, #edit__pendaftaran .required-label {
  color: red !important;
}
/* Form alamat review */
/* #smartwizard .review .alamat textarea {
  minh
} */


/* Font size */
.pendaftaran , #edit__pendaftaran span{
  font-weight: 400;
}

.ps {
  position: relative;
}



/* Form sma */
/* .alamat textarea{
  min-height: 129px;
} */

/* Form calon mahasiswa */
.form__calon textarea{
  border-radius: 0 !important;
}
.alamat__calon textarea {
  min-height: 130px;
}

/* Edit form pendaftaran */
.edit__calon textarea{
  border-radius: 0 !important;
}
.edit__alamat__calon textarea {
  min-height: 130px;
}

/*================ Edit form pendaftaran =================*/
.edit__pendaftaran label, .upload__ulang label {
  display: block !important;
}


/*================ Pengumuman =================*/
.pengumuman_lolos{
  background-color: #0cc23f;
}
.pengumuman_belum_lolos{
  background-color: #c20c0c;
}
.icon-notif{
  color: red;
  font-size: 12px;
  right: 1px;
  bottom: 20px;
}
#pengumuman .content ol {
  padding-left: 1rem !important;
  margin-bottom: 0 !important;
}

/*================ Footer =================*/
footer {
  position: sticky;
  top: 100%;
}

/******************************************/
/*               END USER                 */
/******************************************/



/******************************************/
/*                 ADMIN                  */
/******************************************/

/*================ Template =================*/
#navbar {
  position: sticky;

  /* position: fixed; */
  z-index: 100;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  /* border-radius: 10px; */
  box-shadow: 2px 2px 10px 2px var(--biru);
}
/* .nav-link {
  color: rgb(255, 255, 255);
  overflow: hidden;
  /* font-weight: 700;
  transition: color 0.4s, background-color 0.4s, border-radius 0.4s; */



.outline-n{
  outline:none;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -15rem; */
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 252px;
}

.tahap_pendaftaran input{
  padding: 0;
  border-radius: 50% !important;
}
/* CKEditor */
.ck-editor__editable_inline {
  min-height: 200px;
}

.active-menu{
  background-color: white !important;
  /* color: #000000 !important; */
  color: var(--orange) !important;
  font-weight: 800 !important;
  text-decoration: none !important;
  border-radius: 10px;

}
.menu:hover {
  background-color: white;
  border-radius: 10px;
}
.menu:hover a {
  /* color: #000000; */
  color: var(--orange);
}
.menu a {
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.menu a i {
  margin-right: 5px;
}
.menu .dropdown ul li a {
  color: black !important;
  font-size: 14px;
  text-decoration: underline;
}
.nav-admin,
.sidebar-heading {
  height: 84px;
}
.border-b {
  border-bottom: 4px solid white;
}
.border-s {
  border-left: 4px solid white;
}
.admin-content {
  width: 90%;
}
/* .detail tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
} */
.detail table > :not(caption) > * > * {
  padding: 3px;
}
.admin h4 {
  font-size: 16px !important;
}
.sidebar__admin a {
  font-size: 16px !important;
}
.fa-circle-question{
  color: rgb(247, 215, 119);
}
.fa-circle-question:hover{
  color: rgb(255, 191, 0);
}
.fa-pen-to-square{
  color: #9f9f9f;
}
.fa-pen-to-square:hover{
  color: #565656;
}
.fa-sack-dollar{
  color: rgb(239, 98, 98);
}
.fa-sack-dollar:hover{
  color: rgb(242, 29, 29);
}
/* Informasi Terbaru */
.form-informasi-content label{
  /* display block */
  display: block !important;
  
}
/* Daftar penerima */
#daftar-penerima-content .form-check label{
  /* display block */
  margin-left: 0.5 rem !important;
  
}

/******************************************/
/*              END ADMIN                 */
/******************************************/


/*******************************************/
/*               RESPONSIVES               */
/*******************************************/


/* @media (max-width: 991px) { */
  /* login */
  /* .login__section {
    display: inline !important;
  }
  .login__section .daftar__gambar {
    display: none;
  }
  .halaman__awal__section {
    padding: 20px;
  }
  .halaman__awal__content .gambar {
    display: none;
  } */
  
/* } */



@media (max-width: 767px) {
  /************************************/
  /*            INFORMASI             */
  /************************************/
  /* garis vertikal */
  .vl {
    border-left: none;
  }
  .bl{
    border: none !important;
  }

  /* informasi terbaru */
  .info__terbaru .col-12 {
    width: 100% !important;
  }
}


/*=============== phone view ===============*/
/* @media (max-width: 576px) {
  nav .logo h4 {
    display: none !important;
  }
  .kotaklogin {
    width: 100%;
  }
  .logo-admin {
    display: none !important;
  }
  .penerima-dashboard {
    display: none;
  }
  .sm_none{
    display: none !important;
  }
  
  .bg-root{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: 800px !important;
  }
  .logobatang{
    width: 60px !important;
  }
  .logosisbang{
    width: 60px !important;
    
  }
  .headerdinas{
    font-size: 20px !important;
  }
  .infoawal{
    font-weight: 500 !important;
  }
  .daftar__card {
    width: 100% !important;
  }
  .daftar__gambar{
    display: none;
  }
  .isiroot{
    padding-top: 20px  !important;
    padding-bottom: 20px  !important;
  }


  /* login */
  /* .daftar__card {
    padding: 50px 30px;
  } */

  /* halaman awal */
  /* .halaman__awal__content .btn__lainnya {
    margin-bottom: 10px;
  } */
/* } */ 



@media (min-width: 375px) {
  /*================ Template admin =================*/
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -16rem;
  }
  .wraper nav {
    width: 900px !important;
  }
}

/* Medium */
@media (min-width: 576px) {
  .kotaklogin {
    width: 600px;
  }

  /*================ Template user =================*/
  /* Navbar */
  nav .logo h3 {
    display: inline;
  }
  nav a, nav h3 {
    font-size: 16px !important;
  }
  nav .nav-item p, nav .nav-item h6 {
    font-size: 16px;
  }
  nav .pendaftar a:focus {
    color: var(--orange) !important;
  }

  /*================ Pengumuman =================*/
  .laporan__dana .content {
    width: 75% !important;
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* detail informasi */
  .detail__info__section .col-md-4 {
    margin-top: 0px;
  }
  .daftar__card{
    min-width: 550px !important;
  }

  /*================ Template user =================*/
  footer .user h2 {
    font-size: 20px !important;
  }
  footer .user h3, footer .user a {
    font-size: 16px !important;
  }

  /*================ Halaman awal =================*/
  /* Fix width kanan kiri */
  .awal__content > div {
    width: 80%;
  }

  /* Font */
  .awal h6 {
    font-size: 16px;
  }
  .awal h4 {
    font-size: 24px !important;
  }
  .awal button {
    font-size: 16px;
  }
  /* End font */

  /* Display */
  .awal .awal__gambar {
    display: flex !important;
  }

  /*================ Login =================*/
  .awal__content.login > div, .awal__content.daftar > div {
    width: 60%;
  }

  /*================ Informasi Awal =================*/
  .informasi__awal {
    min-height: 100vh;
  }
  .informasi__awal h3 {
    font-size: 24px !important;
  } 
  .informasi__awal h2 {
    font-size: 30px !important;
  }
  .informasi__awal .info__lainnya a {
    font-size: 18px !important;
  }
  .informasi__awal .info__lainnya .tanggal p {
    font-size: 14px;
  }

  /*================ Index =================*/
  .beranda h3 {
    font-size: 28px !important;
  }
  .beranda .info__baru h4 {
  font-size: 24px !important; 
  }
  .beranda .hero span i {
    font-size: 32px !important;
  }

  /*================ Kumpulan informasi =================*/
  .kumpulan__informasi .navigasi a {
    font-size: 16px !important;
  }
  /* .kumpulan__informasi h3 {
    font-size: 24px !important;
  }
  .kumpulan__informasi .row a {
    font-size: 20px !important;
  } */
  
  /*================ Informasi pendaftaran =================*/
  .informasi__pendaftaran h3 {
    font-size: 24px !important;
  }
  .informasi__pendaftaran h4 {
    font-size: 20px !important;
  }
  .informasi__pendaftaran p {
    font-size: 16px !important;
  }
  .informasi__pendaftaran th, td {
    font-size: 16px !important;
  }
  /* Nomor */
  .informasi__pendaftaran .nomor {
    min-width: 22px;
    min-height: 22px;
    font-size: 12px;
  }

  /*================ Pendaftaran =================*/
  .pendaftaran__beasiswa h3 {
    font-size: 28px !important;
  }

  /* Wizard direction */
  #smartwizard.sw>.nav {
    flex-direction: row !important;
  }
  /* Input jenis kelamin */
  #smartwizard .form-check, #edit__pendaftaran .form-check {
    margin-bottom: 2.125rem !important;
  }

  /*================ Pengumuman =================*/
  .laporan__dana .content {
    width: 50% !important;
  }

}

@media (min-width: 992px) {
  /*================ Informasi pendaftaran =================*/
  /* Tabel */
  .informasi__pendaftaran .jadwal {
    width: 50% !important;
  }

  /*================ Form Pendaftaran =================*/
  #step-4 .upload__ulang input {
    width: 50% !important;
  }
  #step-5 h2 {
    font-size: 30px !important;
  }

  /*================ Pengumuman =================*/
  .pengumuman h3 {
    font-size: 30px !important;
  }
  .pengumuman h4 {
    font-size: 20px !important;
  }
  .pengumuman .alert {
    font-size: 16px !important;
  }
  .pengumuman p {
    font-size: 16px !important;
  }
  .pengumuman .content a {
    font-size: 16px !important;
  }
  .laporan__dana label {
    font-size: 16px !important;
  }
  .laporan__dana .bd50 {
    min-width: 24px;
    min-height: 24px;
  }
  .laporan__dana h6 {
    font-size: 14px !important;
  }
  .laporan__dana h5 {
    font-size: 16px !important;
  }
}


/* Desktop */
@media (min-width: 1200px) {
  /*================ Halaman awal =================*/
  /* Font */
  .awal h6 {
    font-size: 16px;
  }
  .awal h4 {
    font-size: 32px !important;
  }
  .awal button {
    font-size: 16px;
  }
  /* End font */

  /*================ Form pendaftaran =================*/
  #step-3 .tambah__prestasi div {
    text-align: center !important;
  }

}