*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

table th, table td{
padding: 5px 5px;
font-size: 12px;
vertical-align: top;

}
h4{
font-size: 20px;
margin-bottom: 0;
font-weight: 500;
}
small{
font-size: 10px;
}
p{
line-height: 13px;
font-size: 12px;
margin-bottom: 0;
}
.tengah {
display: flex;
justify-content: center;

}
.bold{
    font-weight: 700;
}