/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* Variabel */
:root {
  --biru: #006AC2;
  --biru2: rgb(0, 86, 174);
  --orange: #f19422;
  --orange2: rgb(221, 128, 14);
  --light: #fdfcff;
  --light2: rgb(235, 235, 235);
  --abu: #f6f6f6;
  --abu2: #F8F8FF;
  --merah:#E50000;
  --ungu:#FB05E2;
  --black:#140e10;
  --max: max-content;
}
/* End variabel */
/* Main style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
body {
  min-height: 100vh;
}
html {
  height: 100%;
}
h2 {
  font-size: 36px ;

  margin: 0 ;
}
h3 {
  font-size: 24px;
  font-weight: 800 !important;

  margin: 0;
}
h4 {
  font-size: 18px ;

  margin: 0;
}
h5 {
  font-size: 16px;

  margin: 0;
}
a {
  text-decoration: none !important;
  font-size: 14px;
}
p {
  font-size: 14px;
  margin: 0px;
}
/* End main style */

/* Font size */
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px;
}
.fs14i{
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs30 {
  font-size: 30px !important;
}
/* End font size */

/* Margin */
.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt60 {
  margin-top: 60px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt30 {
  margin-top: 30px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.m20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.me10 {
  margin-right: 10px;
}
.mt10{
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt5 {
  margin-top: 5px;
}
.m50{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* End margin */

/* Padding */
.px8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt100 {
  padding-top: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.pt60 {
  padding-top: 60px;
}
.pt50 {
  padding-top: 50px;
}
.pb40 {
  padding-bottom: 40px;
}
.p40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.p60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.px50{
  padding-left: 50px;
  padding-right: 50px;
}
.px20{
  padding-left: 20px;
  padding-right: 20px;
}
.p25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/* End padding */

/* Color */
.green{
  color:#0cc23f !important;
}
.red{
  color: #dc3545 !important;
}
.orange{
  color: #F8A61B;
}
.abu{
  color: var(--abu) !important;
}
.biru {
  color: var(--biru) !important;
}
.black {
  color: var(--black);
}
/* End color */

/* Background color */
.bgblue {
  background-color: var(--biru) !important;
}
.bgorange {
  background-color: var(--orange) !important;
}
.bglight {
  background-color: var(--light);
}
.bgwhite {
  background-color: white;
}
/* End background color */

/* Button */
.btn__orange {
  border-color: var(--orange2) !important;
}
.btn__blue {
  border-color: var(--blue2) !important;
}
.btn__white:hover {
  background-color: var(--light2) !important;
  color: var(--black);
}
.btn__white:focus {
  color: var(--black);
  box-shadow: 0 0 0 0.25rem rgb(235, 235, 235, .5) !important;
}
.btn__orange:hover {
  background-color: var(--orange2) !important;
  border-color: var(--orange2) !important;
}
.btn__orange:focus {
  box-shadow: 0 0 0 0.25rem rgb(221, 128, 14, .3) !important;
}
.btn__blue:hover {
  background-color: var(--biru2) !important;
  border-color: var(--biru) !important;
}
.btn__blue:focus {
  box-shadow: 0 0 0 0.25rem rgb(0, 86, 174, .3) !important;
}
/* End button */

/* Etc */
.btn:hover{
  transition: 0.3s;
}
.btn,.br5{
  border-radius: 5px !important;
}
.br10{
  border-radius: 10px !important;
}
.br20{
  border-radius: 20px !important;
}
.bs1{
  box-shadow: 0.2px 0.2px 30px 0.2px var(--biru) ;
}
.bs2{
  box-shadow: 2px 0.2px 10px 2px var(--abu)  ;
  /* border: 0.1px solid var(--biru); */
}
.btn-red{
  background-color: var(--merah) !important;
  color: white;
}
.bg-biru {
  background-color: var(--biru);
  color: white;
}
.bg_ungu{
  background-color: var(--ungu);
  color: white;
}
.btn-primary {
  background-color: var(--biru);
  box-shadow: 2px 2px 10px 2px var(--biru);
}
.btn_orange{
  background-color: #F8A61B;
  color: white;
}
.btn_orange:hover{
  background-color: #F8A61B;
  color: white;
  box-shadow: 2px 2px 10px 2px #F8A61B;
}
.btn-white {
  background-color: white;
  /* font-family: 700; */
  color: var(--biru);
  box-shadow: 2px 2px 10px 2px var(--biru);
  border: 2px solid var(--biru);
}
.btn-white:hover {
  background-color: var(--biru);
  box-shadow: none !important;
}
.bg-abu {
  background-color: var(--abu);
}
.tengah {
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: 800 !important;
}
.dropdown {
  text-decoration: none;
}
.text-red {
  color: #dc3545;
}
.text-abu {
  color: #acacc0;
}
.card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
.main-shadow{
  box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.05);
}
.required-label {
  color: var(--merah);
  font-size: 12px;
  margin-left: 10px;
}
.min-height-admin{
  min-height: 141px;
}
tr {
  border-color: var(--abu2);
}

/* Unknown */
.topi {
  background-image: url("../img/topi.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.gambarformdaftar {
  background-image: url("../img/image\ 15.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gambar-laporan {
  background-image: url("../img/4025514\ 1.png");
  height: 400px;
}
input,
textarea,
select {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 10px !important;
}
label {
  display: block;
  font-size: 16px;
}
small{
  font-size: 12px;
}
/* .daftarbeasiswa small {
  color: var(--biru);
  display: block;
} */

.arrow i {
  font-size: 40px;
}


/* Navbar icon */
.nav__icon {
  margin-right: 20px;
}
/* .nav__icon button{
  border: none !important;
  background-color: unset !important;
} */
/* .nav__icon ul {
  border-radius: 0 !important;
} */
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto;
}
/* .dropdown-menu {
  position: absolute !important;
} */

/* .sidebar__item a {
  color: lightgray !important;
}
.item__active {
  color: white !important;
} */

.fa-eye,.fa-fw{
  color: #9a9a9a;
}
.p100 {
  padding: 40px 10rem;
}
.p40 {
  padding: 40px;
}
.bglight {
  background-color: #E9F0F5;
}



/******************************************/
/*                  USER                  */
/******************************************/

/*================ Halaman awal =================*/
/* Main */
.bdorange {
  border-color: var(--orange);
}

/* Kiri */
.awal, .awal__content, .awal__gambar {
  min-height: 100vh;
}


/* Kanan */
.awal .awal__gambar {
  display: none;
}
.awal__gambar img {
  max-width: 100%;
  min-height: 112vh;
}
.awal__gambar.besar img {
  min-height: 143vh;
}
.awal__gambar.gambar__sandi img {
  min-height: 100vh;
}

.bg-root{
  background-image: url("../img/bg-root.png") !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.field-icon {
  float: right;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/*================ Masuk =================*/
/* Kata sandi */
.awal .input__sandi span {
  top: 10%;
  right: 5%;
}
.awal .input__sandi i {
  color: var(--black);
}
/* Captcha */
.captcha {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-decoration: line-through;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  border-radius: 10px;
}
.ubah__captcha {
  top: 20%;
  right: 5%;
}
.awal__content .content .ceklis input {
  border-radius: .25em !important;
  padding: 0;
}
.errmsg {
  color: red;
  font-size: 12px;
  transition: 0.5s ease;
}

/* Lupa sandi */
.lupa__sandi a {
  font-size: 14px;
}
.pesan__error {
  font-size: 12px;
  color: red;
}

/*================ Index =================*/
/* Carousel */
.carousel-indicators {
  display: none;
}
.height__scroll {
  height: 482px;
}

/* Informasi terbaru */
.blue {
  color: var(--biru);
}
.abu {
  color: lightslategray !important;
}
.info__section .tanggal p {
  color: lightslategray;
}
/* .list__info a {
  font-size: 14px;
  padding: 10px 20px;
  color: black;
  border: .5px solid lightslategray;
} */
.list__info a:hover {
  background-color: var(--biru);
  color: white;
  border: .5px solid var(--biru);
  transition: .3s;
}
.info__terbaru .line {
  border: 1px solid var(--abu2);
}

/* Kuota */
.pd__80 {
  padding: 60px 0;
}
.deskripsi .keterangan p {
  font-size: 12px !important;
}
.deskripsi a {
  font-size: 12px !important;
}
/* .card__beasiswa a {
  font-size: 14px !important;
} */

#file-upload-button {
  background-color: white !important;
}

/*================ Informasi pendaftaran =================*/
/* Garis vertikal */
.vl {
  border-left: 1.5px solid var(--biru);
}
.icon-informasi {
  font-size: 100px;
  color: var(--biru);
}
.informasi__pendaftaran .nomor {
  min-width: 24px;
  min-height: 24px;
  font-size: 14px;
  border-radius: 50%;
  color: white;
  background-color: var(--biru);
}
.me2rem {
  margin-left: 2.1rem;
}
.daftar__beasiswa__section .no {
  min-width: 12px;
}

/* Jadwal kegiatan */
.jadwal__section table {
  width: fit-content !important;
  overflow: auto;
}
.jadwal__section thead, tbody, tr, td, th {
  border-style: solid !important;
  border-width: 1px !important;
  padding: 10px;
  font-size: 14px;
}
.jadwal__section tbody>tr>th {
  text-align: center;
  font-weight: 400 !important;
}
.jadwal__section th {
  text-align: left;
}

/* Detail informasi */
.detail__header {
  font-size: 24px;
}

/*================ Pendaftaran =================*/
.ps {
  position: relative;
}
.daftar__card {
  background-color: #E9F0F5;
  /* min-width: 550px; */
  padding: 50px 90px;
  box-sizing: border-box;
}
.daftar__gambar {
  background-image: url('../img/gambar-login-fix.png');
  background-size: cover;
  background-position: 80%;
  width: 100%;
  min-height: 100vh;
  /* margin: auto; */
}

.daftar__content input {
  width: 100%;
  font-size: 12px;
  color: lightslategray;
}

.check__setuju input {
  width: 20px;
  margin-top: 0px;
  border: none !important;
}

.check__setuju label {
  color: black;
}

.daftar__content label {
  font-size: 14px;
}

.daftar__content input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.daftar__button button {
  background-color: var(--biru);
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
}

::-webkit-input-placeholder {
  color: lightslategray;
}
/* :focus::-webkit-input-placeholder {
  opacity: .5;
} */

/* Form sma */
.alamat textarea{
  min-height: 129px;
}

/* Form calon mahasiswa */
.form__calon textarea{
  border-radius: 0 !important;
}
.alamat__calon textarea {
  min-height: 130px;
}

/* Edit form calon mahasiswa */
.edit__calon textarea{
  border-radius: 0 !important;
}
.edit__alamat__calon textarea {
  min-height: 130px;
}

/*================ Pengumuman =================*/
.pengumuman_lolos{
  background-color: #0cc23f;
}
.pengumuman_belum_lolos{
  background-color: #c20c0c;
}
.icon-notif{
  color: red;
  font-size: 12px;
  right: 1px;
  bottom: 20px;
}

/*================ Footer =================*/
footer {
  position: sticky;
  top: 100%;
}

/******************************************/
/*               END USER                 */
/******************************************/



/******************************************/
/*                 ADMIN                  */
/******************************************/

/*================ Template =================*/
#navbar {
  position: sticky;

  /* position: fixed; */
  z-index: 1;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  /* border-radius: 10px; */
  box-shadow: 2px 2px 10px 2px var(--biru);
}
.nav-link {
  color: rgb(255, 255, 255);
  overflow: hidden;
  /* font-weight: 700;
  transition: color 0.4s, background-color 0.4s, border-radius 0.4s; */
}
/* .nav-link:focus {
  color: white !important;
} */
/* .nav-link:hover {
  color: #ffffff;
} */

.nav-item a::before {
  border-radius: 2px;
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.nav-item a:hover::before {
  visibility: visible;
  width: 100%;
}
.navbarNav{
  position: relative;
  font-size: 14px;
  font-weight:600 ;
}
.navbarNav:hover{
  /* position: relative; */
  color: white;
  
}
/* .navbarNav:hover {
  color: black !important;
  background-color: white !important;
  transition: color 0.4s, background-color 0.4s, border-radius 0.4s;
} */
.bl{
  border-left:2px solid #ffffff;
  margin-left: 10px;
}
/* .nav-item {
  margin-left: 25px;
  margin-right: 8px;
} */
/* .nav-item a {
  padding: 3px 10px !important;
} */
.navbarNav.active {
  visibility: visible;
  width: 100%;
  border-radius: 2px;
  content: "";
  /* position: absolute; */

  
}
/* .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  transition: display 0.5s;
} */
/* background img */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -15rem; */
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 252px;
}

.tahap_pendaftaran input{
  padding: 0;
  border-radius: 50% !important;
}
/* CKEditor */
.ck-editor__editable_inline {
  min-height: 200px;
}

.active-menu{
  background-color: white !important;
  color: #000000 !important;
  text-decoration: none !important;
}
.menu:hover {
  background-color: white;
}
.menu:hover a {
  color: #000000;
}
.menu a {
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.menu a i {
  margin-right: 5px;
}
.menu .dropdown ul li a {
  color: black !important;
  font-size: 14px;
  text-decoration: underline;
}
.nav-admin,
.sidebar-heading {
  height: 84px;
}
.border-b {
  border-bottom: 4px solid white;
}
.border-s {
  border-left: 4px solid white;
}
.admin-content {
  width: 90%;
}
.detail tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}
.detail table > :not(caption) > * > * {
  padding: 3px;
}
.admin h4 {
  font-size: 16px !important;
}
.sidebar__admin a {
  font-size: 16px !important;
}
.fa-circle-question{
  color: rgb(247, 215, 119);
}
.fa-circle-question:hover{
  color: rgb(255, 191, 0);
}
.fa-pen-to-square{
  color: #9f9f9f;
}
.fa-pen-to-square:hover{
  color: #565656;
}
.fa-sack-dollar{
  color: rgb(239, 98, 98);
}
.fa-sack-dollar:hover{
  color: rgb(242, 29, 29);
}

/******************************************/
/*              END ADMIN                 */
/******************************************/


/*******************************************/
/*               RESPONSIVES               */
/*******************************************/


/* @media (max-width: 991px) { */
  /* login */
  /* .login__section {
    display: inline !important;
  }
  .login__section .daftar__gambar {
    display: none;
  }
  .halaman__awal__section {
    padding: 20px;
  }
  .halaman__awal__content .gambar {
    display: none;
  } */
  
/* } */



@media (max-width: 767px) {
  /************************************/
  /*            INFORMASI             */
  /************************************/
  /* garis vertikal */
  .vl {
    border-left: none;
  }
  .bl{
    border: none !important;
  }

  /* informasi terbaru */
  .info__terbaru .col-12 {
    width: 100% !important;
  }
}


/*=============== phone view ===============*/
/* @media (max-width: 576px) {
  nav .logo h4 {
    display: none !important;
  }
  .kotaklogin {
    width: 100%;
  }
  .logo-admin {
    display: none !important;
  }
  .penerima-dashboard {
    display: none;
  }
  .sm_none{
    display: none !important;
  }
  
  .bg-root{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: 800px !important;
  }
  .logobatang{
    width: 60px !important;
  }
  .logosisbang{
    width: 60px !important;
    
  }
  .headerdinas{
    font-size: 20px !important;
  }
  .infoawal{
    font-weight: 500 !important;
  }
  .daftar__card {
    width: 100% !important;
  }
  .daftar__gambar{
    display: none;
  }
  .isiroot{
    padding-top: 20px  !important;
    padding-bottom: 20px  !important;
  }


  /* login */
  /* .daftar__card {
    padding: 50px 30px;
  } */

  /* halaman awal */
  /* .halaman__awal__content .btn__lainnya {
    margin-bottom: 10px;
  } */
/* } */ 



@media (min-width: 375px) {
  /*================ Template admin =================*/
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -16rem;
  }
  .wraper nav {
    width: 900px !important;
  }
}

/* Medium */
@media (min-width: 576px) {
  .kotaklogin {
    width: 600px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* kumpulan informasi */
  .col-md-4 {
    width: 30% !important;
  }

  /* detail informasi */
  .detail__info__section .col-md-4 {
    margin-top: 0px;
  }
  .daftar__card{
    min-width: 550px !important;
  }

  /*================ Halaman awal =================*/
  /* Font */
  .awal h6 {
    font-size: 16px;
  }
  .awal h4 {
    font-size: 24px !important;
  }
  .awal button {
    font-size: 16px;
  }
  /* End font */

  /* Display */
  .awal .awal__gambar {
    display: flex !important;
  }
}

/* Large */
@media (min-width: 992px) {
  .jalur_beasiswa .col-lg-4 {
    width: 30% !important;
  }

  /* navbar */
  .nav-item {
    /* align-self: center !important; */
    margin-right: 10px;
  }
  .nav__icon {
    margin-right: 0;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  /*================ Halaman awal =================*/
  /* Font */
  .awal h6 {
    font-size: 16px;
  }
  .awal h4 {
    font-size: 32px !important;
  }
  .awal button {
    font-size: 16px;
  }
  /* End font */
}